<!DOCTYPE html>
<html lang="en">

<head>

  <title>Fio & Davi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,600,700,900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Tangerine&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./style.css" />
  <script src="sweetalert2.min.js"></script>
  <link rel="stylesheet" href="sweetalert2.min.css">
</head>

<body>
  <nav>
    <div class="nav-wrapper body3 ">
      <a href="#" class="brand-logo red-text text-lighten-4">F & D</a>
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i
          class=" red-text text-lighten-4 material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down ">
        <li>
          <a class="red-text text-lighten-4" href="#home">Inicio</a>
        </li>
        <li>
          <a class="red-text text-lighten-4" href="#ubicacion">Ubicacion</a>
        </li>
        <li>
          <a class="red-text text-lighten-4" href="#confirmacion">Confirmación</a>
        </li>


      </ul>
    </div>
  </nav>


  <ul id="slide-out" class="sidenav pink lighten-5 ">
    <li>
      <a href="#home">Incio</a>
    </li>
    <li>
      <a href="#ubicacion">Ubicacion</a>
    </li>

  </ul>
  <br>
  <div class="container center-align ">
    <div class="row">
      <div class="col s12 body3 ">
        <img class="responsive-img " src="./boda5.gif">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s12 ">
        <div class="body2">
          <div class="overlay"></div>
          <div class="wrapper">
            <div class="">
              <h1 class="title3 ">Cuenta Regresiva</h1>
              <div class="countdown-container">
                <div>
                  <p id="days" class="big-text  ">0</p>
                  <span class="title2 ">Días</span>
                </div>
                <div>
                  <p id="hours" class="big-text ">0</p>
                  <span class="title2">Horas</span>
                </div>
                <div>
                  <p id="min" class="big-text ">0</p>
                  <span class="title2">Min</span>
                </div>
                <div>
                  <p id="sec" class="big-text ">0</p>
                  <span class="title2">Sec</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <section id="ubicacion" class="section  center  ">
    <div class="container">
      <div class="row">
        <div class="col s12 m6">
          <div class="card-panel body3 z-depth-5">
            <img src="./basilica.jpg" class="responsive-img">
            <img src="./basilica1.jpg" class="responsive-img">
            <br>
            <a href="https://goo.gl/maps/Pf91NbjNwi8xhfJu6" class="red-text text-lighten-4">ver ubicación</a>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card-panel body3  z-depth-5">
            <img src="./sitio.jpg" class="responsive-img">
            <img src="./sitio1.jpg" class="responsive-img">
            <br>
            <a href="https://goo.gl/maps/erpjgDcH3EXKtqACA" class="red-text text-lighten-4">ver ubicación</a>
          </div>
        </div>

      </div>
    </div>
  </section>

  <div class="container center-align ">
    <div class="row">
      <br>
      <div class="col s12 body3 ">
        <img class="responsive-img" src="./boda8.jpeg">
      </div>
    </div>
  </div>