<%- include ('_header.ejs'); -%>

  <div class="container center-align ">

    <div class="row">
      <br>
      <div class="col s12 body4 ">
        <div class="container ">

          <div class="row">

            <div class="col-75">
              <label for="fname">Nombre completo</label>
              <input type="text" id="nombre" name="nombre" placeholder="Nombre y dos apellidos">

            </div>
            <div class="col-75">
              <label for="fname">Campos reservados:</label>
            </div>
            <div class="col-75" id="campos">

            </div>

            <table class="classcentered highlight col-75 " id="campos2">
              <thead>
                <tr>
                  <th>Invitados </th>

                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>


          <div class="row">
            <button id="GetButton"  class="btn  " onclick="GetCampos(),GetCampos2()">Obtener
              Campos</button>
          </div>
         
          <div class="row">
            <button  id="btnContinuar" class="btn " onclick="SetUserName()">Continuar</button>
          </div>
           
          </div>
        </div>



      </div>
    </div>
  </div>

  <%- include ('_footer.ejs'); -%>